<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div> 
    <mat-toolbar  color="primary">
      
        <a mat-button class="companyName" routerLink="/">
          <span>Book app</span>
        </a>
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
          <a mat-button routerLink="/bookshef">My Bookshelf</a>
          <a mat-button routerLink="/bookreiews">Book Reviews</a>
          <a mat-button routerLink="/discussionboard">Discussion Board</a>
          <a mat-button routerLink="/communitynews">Community News</a>
        </div>
      </mat-toolbar>

    </div>