<app-navbar></app-navbar>

<div style="width: 80%;   margin: auto; padding-top: 40px;">
  <h1 style="font-weight:600;">{{title}} </h1>
  </div>
  <br>
  <div style="width: 80%;   margin: auto;"> 
    <table><tr><td><img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/action-thriller-book-cover-design-template-3675ae3e3ac7ee095fc793ab61b812cc.jpg?ts=1588152105" style="width:160px;height:260px;"></td>
    <td style="vertical-align:top; padding:0 15px;"> 
    <h1>The king of drugs</h1>
    <h2>Nora Barret</h2>
    <p>From the halcyon days of easily accessible drugs to years of government intervention and a surging black market, this tale chronicles a 
    former drug smuggler’s 50-year career in the drug trade, its evolution into a multibillion-dollar business, and the characters he met along 
    the way. The journey begins with the infamous Hippie Hash trail that led from London and Amsterdam overland to Nepal where, prior to the early1970s,
     hashish was legal and smoked freely in Nepal, India, Afghanistan, and Laos; marijuana and opium were sold openly in Hindu temples in India and
      much of Asia; and cannabis was widely cultivated in Nepal and Afghanistan for use in food, medicine, and cloth. In documenting the stark contrasts
      of the ensuing years, the narrative examines the impact of the financial incentives awarded by international institutions such as the
       U.S. government to outlaw the cultivation of cannabis in Nepal and Afghanistan and to make hashish and opium illegal in Turkey—the demise
        of the U.S. “good old boy” dope network, the eruption of a violent criminal society, and the birth of a global black market for hard
         drugs—as well as the schemes smugglers employed to get around customs agents and various regulations.</p> 
    
  </td></tr></table></div>
  <br>
  <hr style="border-top: 0.5px solid #d3d3d3; width: 80%;">
  
  <div style="width: 80%;   margin: auto;">
    <br>
    <app-review-menu></app-review-menu>
    <router-outlet></router-outlet>
    <br>
  </div>
  
  
  
  